<div class="container">
  <div class="d-flex justify-content-center">
    <%= link_to root_path, class: "arood-title" do %>
      <h1 class="text-center mt-3">عَروض</h1>
    <% end %>
  </div>

  <div data-controller="refresh-meter">
    <div class="search-bar mt-5">
      <%= form_with url: meters_path, method: :get, data: { refresh_meter_target: 'form' }, class: "d-flex" do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control text-end search-input",
          placeholder: "..اكتب",
          data: {
                  refresh_meter_target: 'searchInput',
                  action: "keyup->refresh-meter#update"
                }
        %>
       <!-- <%= submit_tag "Search", class: "btn btn-primary" %> -->
      <% end %>
    </div>

    <div data-refresh-meter-target="metersList">
      <%= render 'meters_list', meters: @meters %>
    </div>
  </div>
</div>
