<h1>3arood</h1>

<h2>Type...</h2>

<div style="width: 400px">
  <%= form_with url: meters_path, method: :get, class: "d-flex" do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Type your line.."
    %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>
</div>

<br>
<br>

<% @meters.each do |meter| %>
  <div class="pattern-container">
    <h2><%= meter.name %></h2>
    <p><%= meter.mnemonic %></p>
  </div>
<% end %>
